
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#/admin-tool" class="list-group-item">工具管理</a>
                <a href="#/admin-employee" class="list-group-item active">雇员管理</a>
            </div>
        </div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>雇员ID</th>
                    <th>雇员姓名</th>
                    <th>剩余量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">阿姆斯特朗回旋加速炮</th>
                    <td>123</td>
                    <td>100</td>
                    <td>
                        <button class="btn btn-default" href="#" data-toggle="modal" data-target="#myModal">
                            查看借还信息
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">借还信息</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>工具名称</th>
                        <th>工具ID</th>
                        <th>数量</th>
                        <th>租借日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">阿姆斯特朗回旋加速炮</th>
                        <td>123</td>
                        <td>100</td>
                        <td>2001-9-5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
