<div class="container">
    <br>
    <div id="login" class="panel panel-primary">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>用户名:</label><input type="text" ng-model="username" class="form-control">
                <label>密码:</label><input type="password" ng-model="password" class="form-control">
            </div>
            <a href="#" class="text-info">忘记密码?</a>
            <input id="login-button" type="button" value="登录" class="btn btn-primary pull-right">
        </div>
    </div>
</div>