
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#/emp-tool" class="list-group-item active">所有工具</a>
                <a href="#/emp-rent" class="list-group-item">借还信息</a>
            </div>
        </div>
        <div class="col-md-10">
            <h4 class="modal-title" id="myModalLabel">借还信息</h4>

            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>{{vm.currentSlogan}}</h4>
            </div>


            <div ng-class="{progress: true, 'progress-striped': vm.striped}" class="col-md-4">
                <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
                    <div ng-if="vm.showLabel">{{vm.value}}%</div>
                </div>
            </div>
            <button class="btn btn-success" ng-click="count()">开始调度</button>
        </div>
        </div>
    </div>
</div>

